{% if site.data.settings.newsletter_settings.enable == true %}
<!-- begin subscribe -->
<div class="subscribe animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="subscribe__inner">
          <div class="subscribe__content">
          {% if site.data.settings.newsletter_settings.newsletter_title %}
            <h3 class="subscribe__title">{{ site.data.settings.newsletter_settings.newsletter_title }}</h3>
          {% endif %}
          </div>
          <form class="subscribe-form validate" action="{% if site.data.settings.newsletter_settings.newsletter_action %}{{site.data.settings.newsletter_settings.newsletter_action}}{% else %}#{% endif %}" method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
            <label class="screen-reader-text" for="form-subscribe-email">Email address</label>
            <input class="subscribe-email required email" id="form-subscribe-email" type="email" name="email_address" placeholder="Email address" required>
            <button class="subscribe-button" id="membedded-subscribe" type="submit" name="subscribe">Subscribe <i class="fa-solid fa-arrow-right"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% if site.data.settings.newsletter_settings.newsletter_background_image %}
    <div class="subscribe__bg lazy" data-bg="{{site.data.settings.newsletter_settings.newsletter_background_image}}"></div>
  {% endif %}
</div>
<!-- end subscribe -->
{% endif %}