/* Error / 404 */
.error {
  padding: ($base-spacing-unit * 6) 0;
  text-align: center;

  &__image {
    width: 88%;
    max-width: 860px;
    margin: 0 auto ($base-spacing-unit * 2);

    img {
      display: block;
      margin: 0 auto;
      filter: drop-shadow(0 24px 32px rgba(0, 0, 0, .18));
    }
  }

  &__text {
    max-width: 480px;
    margin: 0 auto ($base-spacing-unit * 2);
    color: var(--text-alt-color);
  }

  @media (max-width: $mobile) {
    padding: ($base-spacing-unit * 3) 0;
  }
}
